* {
    margin: 0;
    padding: 0;
}

.square {
    background-color: rgb(113, 24, 158);
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 10px #2e2e2e;
}

.button {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

button {
    margin: 4px;
    margin: 0;
    border: none;
    background-color: darkorchid;
    color: #fff;
    width: 100px;
    height: 40px;
    box-shadow: 0px 0px 6px #000000;
}

button:active {
    background-color: rgb(99, 32, 133);
}

header {
    z-index: 1000;
    background-color: #2e2e2e;
    height: 100px;
    position: relative;
    box-shadow: 0px 0px 10px #2e2e2e;
}