* {
    margin: 0;
    padding: 10px;
}

.hidden {
    visibility: hidden;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
main
{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
[type='button'] {
    color: #fff;
    width: 70px;
    height: 70px;
    border-radius: 180px;
    background-color: #777fe3;
    border: initial;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.418);
}

[type='text'] {
    width: 60vw;
    height: 40px;
    background-color: #fafafa;
}
.taskcontainer
{
    color: #fff;
    background-color: #777fe3;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
}
.CallNew{
    position: fixed;
    bottom: 50px;
    left: 50px;
}