* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 100px;
    height: 30px;
    background-color: #5694b8;
    color: #fff;
    font-size: 20px;
    border: solid 1px #285068;
    font-weight: lighter;
}

input {
    width: 400px;
    height: 30px;
    background-color: #5694b8;
    color: #fff;
    font-size: 20px;
    border: none;
    box-shadow: inset 0px 0px 6px #0e1e27;
}

button:active {
    background-color: #285068;
}

p {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 200px;
    height: 40px;
    position: absolute;
    margin: auto;
    bottom: 100px;
    font-size: 30;
    background-color: #5694b8;
    box-shadow: inset 0px 0px 6px #0e1e27;
}