* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
}

button {
    width: 100px;
    height: 40px;
    color: #fff;
    border: none;
    background-color: rgb(106, 91, 175);
}

input {
    height: 40px;
    width: 200px;
}