* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

p {
    background-color: rgb(175, 105, 80);
    color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.384);
}