*{
    font-family: Helvetica, sans-serif;
}
header{
    background-color: #F26363;
}
.maintitle{
    letter-spacing: -5px;
    background-color: rgba(167, 167, 167, 0.562);
}
.men{
    font-size: 39px;
    color: #F2F2F2;
    font-family: 'Phosphate', sans-serif;
}
.new{
    color: #F2F2F2;
    margin-top: -60px;
    font-family: 'Phosphate', sans-serif;
font-size: 130px;
}
.style{
    color: #F2D0A7;
margin-top: -60px;
font-size: 19px;
}
.main{
    background-image: url(https://picsum.photos/1000/700/?blur);
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
.mainArticle{
    background-color: #F2F2F2;
}
.gold{
    color: #D99036;
}
.textweight{
    font-weight: 100;
}
.lastest{
    color: #F2F2F2;
    font-family: 'Phosphate', sans-serif;
font-size: 130px;
}
.post{
    margin-top: -80px;
        font-size: 39px;
        color: #F2F2F2;
        font-family: 'Phosphate', sans-serif;
}
.articles{
    background-color: #F26363;
}
.articleContaine{
    background-color: #F2F2F2;
}
.sizeText{
    font-size: 23px;
}
.largesize{
    color: #F26363;
    margin-top: -60px;
    font-family: 'Phosphate', sans-serif;
font-size: 80px;
}
.smallersize{
color: #D99036;
margin-top: -40px;
font-family: 'Phosphate', sans-serif;
font-size: 40px;
}
.carding{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.192);
    background-color: #F1F1F1
}
.linkuser a{
    color: #F26363;
    font-family: 'Phosphate', sans-serif;
}
.hoverclean{
    transition: all ease-in-out 0.2s;
}
.hoverclean:hover{
    background-color: rgb(255, 255, 255);
}
.userall{
cursor: pointer;
}
table{
    display: none;
}
i{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.192);
    cursor: pointer;
    color: #F26363;
    background-color: rgb(240, 240, 240);
}
.commentsContent{
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.192);
    color: #F26363;
    background-color: rgb(240, 240, 240);
}
i:hover{
    color: rgb(167, 67, 67);
}
.articleRow{
    background-color: #F26363;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.192);
}
.bodyArticle{
    font-size: 15px
}
.titleArticle{
    color: #F26363;
    font-size: 21px
}
.test{
    height: 500px;
}
.mainRow{
    display: none;
}