* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.patron {
  display: none;
  z-index: 10000;
  width: 100vw;
  opacity: 30%;
  position: absolute;
  left: 0;
  top: 0;
}
header,
main {
  display: flex;
  background-color: #121f32;
  color: #f2f2f2;
  width: 100%;
}
h1 {
  font-weight: normal;
}
.logo {
  padding: 30px 0 30px 120px;
  width: 300px;
  font-size: 8px;
  z-index: 1;
  position: relative;
  font-family: "ProximaNova", sans-serif;
  letter-spacing: 1px;
  line-height: 18px;
}
.logo img {
  position: absolute;
  width: 60px;
  right: 40px;
  bottom: 9px;
}
.logo::after {
  content: "";
  left: 121px;
  z-index: 2;
  position: absolute;
  bottom: 23px;
  width: 30px;
  height: 1px;
  border-bottom: #f2f2f2 solid 1px;
}
h2 {
  font-family: "ProximaNova", sans-serif;
  color: #f2f2f2;
  font-size: 80px;
  font-weight: normal;
}
main {
  z-index: 3;
  margin-top: -100px;
  width: 100%;
  background-color: #121f32;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menuAbsolute {
  position: absolute;
  right: 0;
  top: 0;
  margin: 23px 38px 0 0;
  text-decoration: none;
  color: #f2f2f2;
  z-index: 3;
}
.menuAbsolute::after {
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 10px;
  background-color: #0006b2;
}
.daysAbsolute {
  font-size: 14px;
  width: 180px;
  position: absolute;
  top: 336px;
  right: -30px;
  display: flex;
  justify-content: space-between;
  transform: rotate(90deg);
  color: #898f99;
}
.scrollAbsolute {
  z-index: 2;
  font-family: "";
  position: absolute;
  left: 79px;
  bottom: 100px;
  font-size: 15px;
  transform: rotate(90deg);
  font-family: "ProximaNova", sans-serif;
  color: #898f99;
}
.numberAbsolute {
  font-family: "ProximaNova", sans-serif;
  position: absolute;
  right: 26px;
  bottom: 80px;
  font-size: 40px;
  color: #898f99;
}
.number {
  font-size: 16px;
}
.mainWarpper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 83%;
}
.mainTitle {
  margin-top: -10px;
  font-size: 75px;
  width: 50%;
  line-height: 88px;
}
.mainArticle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 55%;
}
.mainArticle img:not(.playAbsolute) {
  width: 100%;
}
.imgrelativeAbsolute {
  width: 100%;
  position: relative;
}
.playAbsolute {
  position: absolute;
  left: 0;
  bottom: 0px;
  height: 98px;
  width: auto;
  padding: 30px;
  border-top-right-radius: 40px;
  background-color: #0006b2;
}
.mainArticleContent {
  z-index: 10;
  margin-top: -7px;
  height: 328px;
  background-color: #14243d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: normal;
  font-family: "ProximaNova", sans-serif;
  padding: 56px 38px 65px 38px;
}
.mainArticleContent h3 {
  margin-top: 4px;
  line-height: 37px;
  font-size: 31px;
  font-family: "ProximaNova", sans-serif;
  font-weight: normal;
  z-index: 3;
}
.mainArticleContent p {
  color: #d4d5e9;
  margin-top: -4px;
  width: 97%;
  text-align: left;
  font-size: 14px;
  line-height: 26px;
}
.mainArticleContent a {
  z-index: 1;
  margin: 0 0 -5px 3px;
  font-size: 16px;
  padding-bottom: -10px;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}
.mainArticleContent a::after {
  z-index: -1;
  position: absolute;
  bottom: -7px;
  left: -3px;
  content: "";
  width: 150px;
  height: 17px;
  background-color: #0006b2;
}
.expertise {
  z-index: 0;
  background-color: #121f32;
  width: 100%;
  padding-top: 158px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 145px;
}
.expertise::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: -80px;
  left: 0px;
  width: 75px;
  height: calc(100% + 80px);
  background-color: #0e1b2e;
}
.expertise::before {
  z-index: -3;
  content: "";
  position: absolute;
  top: -240px;
  left: 0px;
  min-width: 353px;
  min-height: 175px;
  background-color: #0e1b2e;
}
.expertiseWarpper {
  position: relative;
  width: 83%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.expertiseWarpper h2 {
  margin-left: 100px;
  letter-spacing: 2px;
  font-size: 56px;
  color: #ffffff;
}
.expertiseWarpper ul {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  width: 52%;
  margin-right: 4px;
  height: 455px;
}
.expertiseWarpper li {
  border-top: #44546d 1px solid;
  font-size: 31px;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 15px 0 18px 0;
  transition: all ease-in-out 0.3s;
}
.expertiseWarpper li:hover {
  background-color: #0e1b2e;
}
.expertiseWarpper li:last-child {
  border-bottom: #44546d 1px solid;
}
.expertiseWarpper img {
  width: 100%;
}
.expertiseWarpper picture {
  z-index: 1;
  width: 36%;
  position: absolute;
  top: 0;
  right: 0;
}
.expertiseWarpper picture::after {
  z-index: 2;
  content: "";
  background-color: rgba(0, 3, 77, 0.521);
  width: 100%;
  height: 98%;
  position: absolute;
  top: 0;
  right: 0;
}
.works {
  background-color: #0e1b2e;
  padding-bottom: 100px;
}
.works,
.workWarpper {
  overflow-x: scroll;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.workWarpper {
  background-color: #0e1b2e;
}
.worksHeader {
  margin-top: 130px;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.worksHeader h2 {
  margin-left: 8px;
  letter-spacing: 2px;
  font-size: 56px;
  color: #ffffff;
}
.worksHeader a {
  z-index: 1;
  margin: 0 7px -18px 0;
  font-size: 18px;
  padding-bottom: -10px;
  text-decoration: none;
  color: #ffffff;
  position: relative;
}
.worksHeader a::after {
  z-index: -1;
  position: absolute;
  bottom: -7px;
  left: 0px;
  content: "";
  width: 100%;
  height: 17px;
  background-color: #0006b2;
  overflow: scroll;
}
.workScroller {
  padding: 40px 0 40px 0;
  align-self: end;
  display: flex;
  align-items: center;
  min-width: 84.5%;
  max-width: 84.5%;
  margin-top: 30px;
}
.scroller {
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #0e1b2e;
  min-width: 130%;
}
.workScrollerContent {
  z-index: 100;
  position: relative;
  display: flex;
  flex-direction: column;
}
.workScrollerContent img {
  width: 75%;
}
.workScrollerContent h4 {
  position: absolute;
  bottom: 88px;
  left: -73px;
  font-size: 43px;
  font-weight: normal;
  color: #ffffff;
}
.workScrollerContent a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  position: absolute;
  bottom: 40px;
  left: -78px;
  font-size: 13px;
  font-weight: normal;
  color: #ffffff;
}
.arrowLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border-radius: 200px;
  border: 1px solid #ffffff;
  margin-right: 6px;
}
.clients {
  width: 100%;
  background-color: #121f32;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 75px;
  font-family: "ProximaNova", sans-serif;
  padding-left: 15%;
}
.contentClients {
  position: relative;
  line-height: 10px;
  width: 79%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainClients {
  width: 15%;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentClients .mainClients:nth-child(1) p {
  font-size: 11px;
  line-height: 9px;
  width: 50%;
}
.contentClients .mainClients:nth-child(1) img {
  width: 35%;
}
.contentClients .mainClients:nth-child(2) p {
  font-size: 15px;
  line-height: 13px;
  width: 50%;
}
.contentClients .mainClients:nth-child(2) img {
  width: 35%;
}
.contentClients .mainClients:nth-child(3) p {
  font-weight: lighter;
  font-size: 22px;
  line-height: 20px;
  text-align: center;
}
.contentClients .mainClients:nth-child(3) img {
  width: 35%;
}
.contentClients .mainClients:nth-child(4) p {
  font-weight: lighter;
  font-size: 25px;
  line-height: 20px;
  text-align: center;
}
.contentClients .mainClients:nth-child(5) p {
  font-weight: lighter;
  font-size: 18px;
  line-height: 17px;
  text-align: left;
  width: 60%;
}
.contentClients .mainClients:nth-child(5) img {
  width: 25%;
}
.contentClients a {
  position: absolute;
  right: -14%;
  font-size: 14px;
  color: #ffffff;
  text-decoration: underline;
}
.teams {
  padding-bottom: 140px;
  background-color: #121f32;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}
.teamsWarpper {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
  flex-direction: column;
  width: 84.5%;
  height: 1050px;
  padding-top: 145px;
}
.topTeams h3 {
  color: #ffffff;
  padding-bottom: 55px;
  font-size: 59px;
  font-weight: normal;
  font-family: "ProximaNova", sans-serif;
}
.topTeams img {
  width: 100%;
}
.topTeams {
  z-index: 1;
  position: relative;
}
.topTeams::before {
  z-index: -1;
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  top: -145px;
  left: -100px;
  background-color: #0e1b2e;
}
.bottomTeams {
  width: 83%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}
.bottomTeams p {
  color: #ffffff;
  width: 90%;
  font-size: 14px;
  line-height: 24px;
}
.bottomTeams p:nth-child(2) {
  padding-bottom: 50px;
  padding-top: 20px;
}
.bottomTeams a {
  z-index: 1;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-family: "ProximaNova", sans-serif;
}
.bottomTeams a::after {
  z-index: -1;
  position: absolute;
  bottom: -7px;
  left: -3px;
  content: "";
  width: 150px;
  height: 17px;
  background-color: #0006b2;
}
footer {
  background-color: #121f32;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.footerWarpper {
  color: #ffffff;
  background-color: #002855;
  height: 468px;
  width: 91.7%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "ProximaNova", sans-serif;
}
.footerContentTop {
  height: 71%;
  padding-left: 220px;
  width: 71%;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footerContentTopIn h3 {
  color: #ffffff;
  padding-top: 30px;
  font-family: "ProximaNova", sans-serif;
  font-weight: normal;
  font-size: 60px;
  line-height: 85px;
}
.footerContentTopIn a {
  color: #ffffff;
  font-size: 37px;
  font-family: "ProximaNova", sans-serif;
}
.footerContentBottom {
  width: 21%;
  height: 71%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footerContentBottom ul {
  color: #ffffff;
  list-style-type: none;
  width: 22%;
  height: 31%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
/* Landscape phones and down */
@media (max-width: 669px) {
  .daysAbsolute {
    font-size: 14px;
    width: 180px;
    position: absolute;
    top: 110px;
    right: 0;
    display: flex;
    justify-content: space-between;
    transform: rotate(0deg);
    color: #898f99;
    left: 0;
    margin: auto;
  }
  .scrollAbsolute {
    z-index: 2;
    font-family: "";
    position: absolute;
    left: -40px;
    bottom: 170px;
    font-size: 15px;
    transform: rotate(90deg);
    font-family: "ProximaNova", sans-serif;
    color: #898f99;
  }
  .mainWarpper {
    padding: 50px 0 0 0;
    width: 100%;
    flex-direction: column;
  }
  .numberAbsolute {
    font-family: "ProximaNova", sans-serif;
    position: absolute;
    right: 26px;
    bottom: 80px;
    font-size: 40px;
    color: #898f99;
    z-index: 10;
    background-color: #14243d;
  }
  .mainArticleContent {
    z-index: 10;
    margin-top: -7px;
    height: 500px;
    background-color: #14243d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: normal;
    font-family: "ProximaNova", sans-serif;
    padding: 56px 38px 65px 38px;
  }
  main {
    margin-top: 0;
  }

  .mainTitle {
    margin-top: 0;
    width: 90%;
    font-size: 45px;
    line-height: 58px;
  }

  .mainArticle {
    width: 90%;
  }

  .logo {
    padding: 30px 0 30px 30px;
    width: 215px;
  }

  .logo::after {
    position: inherit;
    left: 30px;
  }
  .expertise::after {
    z-index: -1;
    content: "";
    position: absolute;
    top: -80px;
    left: 0px;
    width: 75px;
    height: calc(100% + 80px);
    background-color: #0e1b2e;
    display: none;
  }
  .expertise::before {
    z-index: -3;
    content: "";
    position: absolute;
    top: -240px;
    left: 0px;
    min-width: 353px;
    min-height: 175px;
    background-color: #0e1b2e;
    display: none;
  }
  .expertise {
    z-index: 0;
    background-color: #121f32;
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 0;
  }
  .expertiseWarpper {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 600px;
  }
  .expertiseWarpper h2 {
    margin-left: 0;
    letter-spacing: 2px;
    font-size: 56px;
    color: #ffffff;
  }
  .expertiseWarpper ul {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    width: 100%;
    margin-right: 4px;
    height: 455px;
  }

  .workScroller {
    padding: 40px 0 100px 0;
    align-self: center;
    flex-direction: column;
  }

  .scroller {
    justify-content: space-between;
    min-width: 100%;
    flex-direction: column;
  }

  .workScrollerContent h4 {
    bottom: -30px;
    left: 0;
    font-size: 33px;
  }

  .workScrollerContent a {
    bottom: -70px;
    left: 0px;
  }

  .workScrollerContent img {
    width: 100%;
  }

  .workScrollerContent {
    margin-bottom: 100px;
  }

  .works {
    padding-bottom: 0px;
  }

  .clients {
    align-items: center;
    padding-left: 0;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .mainClients {
    width: 8%;
  }

  .contentClients .mainClients:nth-child(2) p {
    font-size: 10px;
    width: 30%;
  }

  .contentClients .mainClients:nth-child(3) p {
    font-size: 11px;
    line-height: 10px;
    padding: 11px;
  }

  .contentClients .mainClients:nth-child(4) p {
    font-size: 15px;
    line-height: 10px;
  }

  .contentClients .mainClients:nth-child(5) p {
    font-size: 9px;
    line-height: 8px;
  }

  .contentClients a {
    right: 0;
    left: 0;
    margin: auto;
    bottom: 0;
  }

  .contentClients {
    padding-bottom: 50px;
    width: 90%;
  }

  .contentClients .mainClients:nth-child(2) img {
    width: 25%;
  }

  .contentClients .mainClients:nth-child(1) img {
    width: 25%;
  }

  .contentClients .mainClients:nth-child(1) p {
    font-size: 6px;
    line-height: 5px;
  }
  .teamsWarpper {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    height: 1050px;
    padding-top: 145px;
  }
  .bottomTeams {
    width: 100%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
  }
  .footerContentTop {
    padding-left: 0px;
    width: 100%;
  }

  .footerContentTopIn h3 {
    font-size: 30px;
  }

  .footerContentTopIn a {
    font-size: 20px;
  }

  .footerContentBottom {
    width: 50%;
    height: 31%;

    position: absolute;
    bottom: 155px;
  }

  .footerWarpper {
    position: relative;
    padding-left: 20px;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 670px) and (max-width: 1170px) {
  .daysAbsolute {
    top: 166px;
    right: 0;
    transform: rotate(0deg);
    left: 60px;
  }

  .numberAbsolute {
    bottom: 500px;
    z-index: 100;
  }

  .scrollAbsolute {
    bottom: 400px;
  }

  .mainWarpper {
    width: 90%;
    padding: 0 0 70px 0;
  }

  main {
    padding-bottom: 100px;
  }

  .mainArticleContent {
    height: 528px;
  }
  .expertise {
    padding-top: 0px;
    padding-bottom: 15px;
  }

  .expertiseWarpper {
    width: 90%;
  }

  .expertiseWarpper h2 {
    margin-left: 0;
  }

  .expertise::before {
    display: none;
  }

  .expertise::after {
    display: none;
  }

  .workScrollerContent h4 {
    font-size: 30px;
  }

  .contentClients {
    width: 90%;
  }

  .clients {
    align-items: center;
    justify-content: space-around;
    padding-left: 0;
  }

  .contentClients a {
    right: 0;
    left: 0;
    bottom: -30px;
    margin: auto;
  }
  .footerWarpper {
    justify-content: space-around;
    align-items: end;
  }

  .footerContentTop {
    height: 91%;
    padding-left: 0;
  }

  .footerContentBottom {
    justify-content: space-around;
    margin-right: 30px;
  }
}
