* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

input {
    width: 100%;
    height: 60px;
    background-color: rgb(240, 143, 87);
    color: #fff;
    border: none;
    font-size: 50px;
    font-weight: lighter;
    box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.452);
}

input:active {
    background-color: rgb(197, 117, 70);
}