* {
    margin: 0;
    padding: 0;
    color: #ffffff;
}

body {
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

h1 {
    font-weight: normal;
    width: 70px;
}

form,
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6f80b7;
}

header {
    box-shadow: 0px 0px 7px #3d3d3d;
}

[type="color"] {
    border: 4px solid #ffffff;
    overflow: scroll;
    width: 80px;
    height: 80px;
    border-radius: 200px;
    padding: 0;
    margin: 0;
}

input {
    height: 50px;
    color: black;
    text-align: center;
    font-size: 22px;
    width: 100px;
}

form {
    width: 40%
}

.image {
    position: relative;
    z-index: -1;
}

.image img {
    border-radius: 200px;
    background-color: #b76f99;
    position: absolute;
    left: 200px;
    bottom: -400px;
    width: 200px;
    height: 200px;
    transition: all ease-in-out 0.2s;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}