* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

th,
td {
    padding: 10px;
    width: 400px;
    height: 40px;
    border: 1px solid rgb(197, 197, 197);
}

table {
    background-color: #ffffff;
    width: 400px;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.349);
    border-collapse: collapse;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}