* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

input {
    width: 400px;
    height: 40px;
}

#verifitext {
    color: #dd5252;
}