* {
  font-family: "Avenir Next";
}
header {
  background-color: #ffffff;
}
h1 {
  font-size: 56px;
  color: #282a36;
}
i {
  font-size: 16px;
  color: #8d8d8d;
  position: absolute;
  right: 0;
  top: -10px;
}
.arobaze {
  font-size: 65px;
  color: #282a36;
}
.logo {
  letter-spacing: -0.2rem;
  z-index: 2;
  position: relative;
}
.logo:after {
  z-index: 3;
  content: "";
  width: 100%;
  height: 4px;
  border-bottom: 4px solid #ff79c6;
  position: absolute;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.616);
}
