* {
    padding: 0;
    margin: 0;
}

body {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea {
    font-family: 'Arial Narrow Bold', sans-serif;
    padding: 50px;
    width: 40vw;
    height: 8vw;
    resize: none;
    border-radius: 4px;
    border: none;
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.6);
    margin: 50px;
}

.toomuch {
    color: #a03333;
}